<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
                <a href="?page={{ posts.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-left"></span>
                    </span>
                </a>
            </li>
        {% endif %}

        {% for i in posts.paginator.page_range %}
            <li class="page-item {% if posts.number == i %}active{% endif %}">
                <a href="?page={{ i }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="page-link">{{ i }}</a>
            </li>
        {% endfor %}

        {% if posts.has_next %}
            <li class="page-item">
                <a href="?page={{ posts.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">
                        <span class="lnr lnr-chevron-right"></span>
                    </span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>